.OfferListView__offerList {
    padding: 0;
    background-color: #fff;
}
ul.CheckList__isSmallOnMobile.fullSize.CheckList__wrapper {
    padding: 0;
}
.OffergridCarTile__descriptionTitle span {
    font-size: 1rem !important;
}
.Price__wrapperSizeM {
    font-size: 1rem !important;
}
.Price__wrapperSizeM .Price__currency, .Price__wrapperSizeM.Price__isFancy .Price__valueAfterSeparator {
    font-size: 0.8rem !important;
}
.OffergridCarTile__container .OffergridCarTile__seperator {
    display: block !important;
}
.miles-per .Price__valueAfterSeparator {
    font-size: 1rem;
}
svg {
    display: inline-block;
}
.OffergridCarTile__wrapper {
    padding: .625rem 1.25rem 1.25rem;
}

/**************/
#vehicles .vehicle  .line.icons {
    font-size: 0px;
}

#vehicles .vehicle .line {
    border-bottom: 1px solid #d7d7d7;
    padding: 0 1px 10px;
}
#vehicles .vehicle .line .cell {
    display: inline-block;
    margin-right: 22px;
    vertical-align: top;
}
#vehicles .vehicle .line .cell .i.air {
    background-image: url(../../icons/icon_specs_air.png);
}

#vehicles .vehicle .line .cell .i {
    display: inline-block;
    width: 49px;
    height: 36px;
    background-position: center;
    background-size: contain;
}
#vehicles .vehicle .line .cell .mark {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-size: contain;
    margin: 14px 0 7px 5px;
    background-image: url(../../icons/icon_specs_mark.png);
}
#vehicles .vehicle .line .cell .i.doors {
    width: 48px;
    height: 35px;
    background-image: url(../../icons/icon_specs_doors.png);
}
#vehicles .vehicle .value {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: black;
    letter-spacing: -0.03em;
    top: -8px;
    left: -1px;
}
#vehicles .vehicle .value span {
    font-weight: 300;
    font-size: 11px;
    color: #6c6c6e;
    left: 3px;
    top: -3px;
}
#vehicles .vehicle .value sup {
    font-weight: 300;
    font-size: 11px;
    color: #eb0012;
}
.Price__wrapperInverted {
    color: #F162A6;
}

.OffergridCarTile__descriptionTitle span {
    box-shadow: 0.4375rem 0 0 #F162A6, -0.4375rem 0 0 #F162A6;
    background-color: #F162A6;
    color: #fff;
}
.height-80 {
    height: 80px;
}
.full-width {
    margin-left: -35px;
    margin-right: -32px;
}
@media (min-width: 992px){
.OffergridCarTile__wrapper {
    width: 33.33%;
}
}
.text-sm {
    font-size: 1.3rem;
}
#promotion-container{
    margin-left: 25px;
    min-width: 262px;
}
.width-100{
    width: 100%;
}
/**************/
/*********start progress indicator stepper*************/
ul.stepper{
    /*padding:1.5rem;*/
    /*margin:1em -1.5rem;*/
    overflow-x:hidden;
    overflow-y:auto;
    counter-reset:section
}
ul.stepper li a{
    padding:1.5rem;
    text-align:center
}
ul.stepper li a .circle{
    display:inline-block;
    width:1.75rem;
    height:1.75rem;
    margin-right:.5rem;
    line-height:1.7rem;
    color:#fff;
    text-align:center;
    background:rgba(0,0,0,.38);
    border-radius:50%
}
ul.stepper li a .label{
    display:inline-block;
    color:rgba(0,0,0,.38);
}
ul.stepper li a .label span{
    font-size: 16px;
}
ul.stepper li.active a .label,ul.stepper li.completed a .label{
    font-weight:600;
    color:rgba(0,0,0,.87)
}
.stepper-horizontal{
    position:relative;
    display:flex;
    justify-content:space-between
}
.stepper-horizontal li{
    position:relative;
    display:flex;
    /*flex:1;*/
    align-items:center;
    transition:.5s
}
.stepper-horizontal li a .label{
    margin-top:.63rem
}
.stepper-horizontal li:not(:first-child):before,.stepper-horizontal li:not(:last-child):after{
    position:relative;
    flex:1;
    height:1px;
    margin:.5rem 0 0;
    content:"";
    background-color:rgba(0,0,0,.1)
}
.stepper-horizontal li:hover{
    background-color:rgba(0,0,0,.06)
}
.primary-color,ul.stepper li.active a .circle{
    background-color:#9fca92!important
}
ul.stepper li.completed a .circle {
    background-color: #f0b478!important;
}
.note p,.stepper-vertical li.completed a .label{font-weight:500}
.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.red-border{
    border: solid 1px red;
}
.bg-light-gray{
    background: #eee;
}
.add_driver_icon{
    line-height: 1;
    padding: 5px;
}
.add_driver_icon svg{
    color: #fd58a7;
}
.add_driver {
    cursor: pointer;
}
.remove_driver_icon{
    line-height: 1;
    padding: 5px;
    cursor: pointer;
    /* margin-left: 98%; */
    margin-top: -45px;
}
.highlight {
    color: #dc3545!important;
}
@media (max-width:47.9375rem){
    .stepper-horizontal{
        flex-direction:column
    }
    .stepper-horizontal li{
        flex-direction:column;
        align-items:flex-start;
    }
    .stepper-horizontal li a .label{
        flex-flow:column nowrap;
        font-size: 16px;
        order:2;margin-top:.2rem
    }
    .stepper-horizontal li:not(:last-child):after{
        position:absolute;
        top:3.75rem;
        left:2.19rem;
        width:1px;
        height:calc(100% - 40px);content:""
    }
}
/*********end progress indicator stepper*************/


.step-1-content {
    z-index: 6;
}
.step-1-container{
    background: #000;
    color: #777;
}
.step-1-container label {
    color: #888;
    font-size: 10px;
}

div#return-loc-container {
    font-size: 1rem !important;
    line-height: 1.3;
}
.step-1-container.zeeba_form.step {
    font-size: 1.5rem !important;
    line-height: 2;
}
/*select#vehicle {
    background: black;
    color: #777;
}*/
.btn-dark.focus, .btn-dark:focus {
    box-shadow: none !important;
}
.btn.focus, .btn:focus {
    outline: thin solid #ccc !important;
}
span.select2-selection.select2-selection--single {
    background: transparent;
    font-size: 16px !important;
    height: 50px !important;
    padding: 10px; /*15px;*/
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 25%;
}
.select2-results__option {
    font-size: 12px;
}
.select2-container--open .select2-dropdown--below {
    margin-left: -20px;
}
.fade{
    opacity: 1 !important;
}

.zindex6 {
    z-index: 6;
}

.displaynone {
    display: none !important;
}
.zindex6 {
    z-index: 6;
}
.disabled{
    cursor: not-allowed !important;
    background: #aaa !important;
}
/******************start step1 location modal****************************/
.location_popup_container {
    position: relative;
    z-index: 20;
    height: 400px;
}
.location_popup_wrapper {
    background: #fff;
    height: 20rem;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;
}
.ListScrolling {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.groupedListWrapper {
    position: relative;
    padding: 1rem 3.125rem;
    height: 100%;
}
.location_popup_col {
    /* flex-basis: 45%; */
    height: 100%;
}
.groupedListWrapper .groupedList {
    height: 100%;
    overflow-y: auto;
}
.listHeader {
    color: #191919;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
}
.ListScrolling .listItem, .ListScrolling .listItemSelected {
    cursor: pointer;
    padding-left: 10px;
    font-weight: 100;
}

.Overlay_layer, .Overlay_wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.Overlay_wrapper {
    position: fixed;
    z-index: 5;
    transition: opacity .5s ease-in-out;
}
.Overlay_layer {
    position: absolute;
    background: rgba(0, 0, 0, .75);
}
/******************end step1****************************/

/******************start step2****************************/
.step2_additional_info_icon{
    float: left;
    width: 15px;
    margin-right: 5px;
}

/******************end step2****************************/

/******************start step4****************************/
.documents #files {
    margin-top: 15px;
}
.documents #files .file-item {
    display: inline-block;
    padding: 10px 15px 10px 48px;
    margin: 0 15px 15px 0;
    width: 225px;
    vertical-align: top;
    background-color: white;
    min-height: 55px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .08);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
}
.documents #files .file-item .file-name {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.documents #files .file-item .file-remove {
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    color: #eb0012;
}
.documents #files .file-item .file-icon {
    position: absolute;
    left: 12px;
    top: 12px;
}

.file-icon[data-type=gif] {
    background: #f4b400;
}
.file-icon {
    font-family: Montserrat, sans-seriffont-weight:300;
    display: block;
    width: 24px;
    height: 32px;
    background: #018fef;
    position: relative;
    border-radius: 2px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}
.file-icon::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom-left-radius: 2px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff #fff rgba(255, 255, 255, .35) rgba(255, 255, 255, .35);
}
.file-icon::after {
    display: block;
    content: attr(data-type);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    color: #fff;
    text-transform: lowercase;
    width: 100%;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
}
.file-icon[data-type=png] {
    background: #f4b400;
}
.documents #files .file-item .file-progress-bar{
    height:6px;margin-top:4px;overflow:hidden;background-color:#eee;-webkit-border-radius:10px;
    border-radius:10px;background-clip:padding-box;
}
.documents #files .file-item .file-progress-bar .file-progress{
    height:100%;background-color:#eb0012;-webkit-border-radius:10px;border-radius:10px;
    background-clip:padding-box;-webkit-transition:width 0.1s ease;-moz-transition:width 0.1s ease;
    -ms-transition:width 0.1s ease;-o-transition:width 0.1s ease;transition:width 0.1s ease
}
/******************end step4****************************/
.location-disabled {
    padding-left: 10px;
    color: #ccc;
    text-transform: capitalize;
}