

.SearchEngine__wrapper {
    width: 100%;
    /*background: #191919;*/
}
.SearchEngine__searchEngine, .SearchEngine__searchEngine3d {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 1.75rem 1.25rem;
    /*z-index: 1;*/
}
.SearchEngine__searchEngineHasOpenPicker {
    z-index: 6;
}
.Overlay__layer, .Overlay__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.Overlay__wrapper {
    position: fixed;
    z-index: 5;
    transition: opacity .5s ease-in-out;
}
.Overlay__layer {
    position: absolute;
    background: rgba(0,0,0,.75);
}
.Overlay__layer, .Overlay__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.SearchEnginePopup__container {
    position: relative;
    z-index: 20;
    height: 20rem;
}
.SearchEnginePopup__popup {
    position: absolute;
    width: 100%;
    transition: max-height .6s cubic-bezier(.175,.885,.32,1.275),opacity .6s cubic-bezier(.175,.885,.32,1.275);
    overflow: hidden;
}
.StationListWithMap__wrapper {
    background: #fff;
    height: 30rem;
    /*40.625rem*/
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;
}
@media (min-width: 650px)
.NoSearchResults__noResult {
    display: block;
    padding: 2.1875rem 6.25rem 0;
}
.NoSearchResults__noResult {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2.1875rem 0 0;
    font-size: 1.125rem;
    font-family: Roboto,sans-serif;
}
@media (min-width: 650px)
.NoSearchResults__noResult .NoSearchResults__iconWrapper {
    width: 3.125rem;
}

.NoSearchResults__noResult .NoSearchResults__iconWrapper {
    flex-basis: 2.5rem;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    transform: scaleX(-1);
    margin: 0 .625rem 0 0;
}
.Icon__svgContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
}
.StationListWithMap__stationList {
    flex-basis: 45%;
    height: 100%;
}
.GroupedList__groupedListWrapper {
    position: relative;
    padding: 1rem 3.125rem; 
    /*2.1875*/
    height: 100%;
}
@media (min-width: 1200px)
.GroupedList__groupedListWrapper .GroupedList__groupedList {
    margin: 0;
}

.GroupedList__groupedListWrapper .GroupedList__groupedList {
    height: 100%;
    overflow-y: auto;
    /*margin: 3.125rem 0 0;*/
}
.GroupedList__groupedListWrapper .GroupedList__groupedList .GroupedList__listGroup:first-child .GroupedList__listHeader {
    padding: 0 0 1.5625rem;
}
.GroupedList__groupedListWrapper .GroupedList__groupedList .GroupedList__listHeader {
    padding: 1.5625rem 0;
    color: #191919;
}
.ListItems__stationListScrolling {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.ListItems__stationListScrolling .ListItems__listItem, .ListItems__stationListScrolling .ListItems__listItemSelected {
    padding: .5625rem 2.1875rem .5625rem 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-size: 1.125rem;
    font-family: Roboto,sans-serif;
}
.ListItems__stationListScrolling .ListItems__listItemSelected {
    color: #ff5f00;
    font-size: 1.125rem;
    font-weight: 500;
}
.ListItems__stationListScrolling .ListItems__listItem:hover {
    color: #ff5f00;
    font-size: 1.125rem;
    font-weight: 500;
}
.ListItems__stationListScrolling .ListItems__listItem, .ListItems__stationListScrolling .ListItems__listItemSelected {
    padding: .5625rem 2.1875rem .5625rem 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-size: 1.125rem;
    font-family: Roboto,sans-serif;
}

.zindex6 {
    z-index: 6;
}
.displaynone {
    display: none;
}

.SearchEngine__stationPicker {
    flex-grow: 1;
    margin-right: 1.25rem;
}
.SearchEngine__inputLabel {
    color: #ff5f00;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: .4px;
    font-size: .875rem;
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.SearchInput__wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.SearchEngine__pickupAsReturn {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    padding-bottom: .5rem;
    padding-right: 0;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: .4px;
    text-transform: uppercase;
}

.SearchEngine__pickupAsReturn, .SearchEngine__pickupAsReturnString {
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
}
.SearchEngine__pickupAsReturnIcon {
    display: flex;
    align-items: center;
}
.SearchEngine__pickupAsReturn, .SearchEngine__pickupAsReturnString {
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
}

.SearchEngine__pickupAsReturnString {
    font-size: .75rem;
    line-height: .875rem;
    width: 6.5rem;
    word-break: break-word;
}
svg {
    transition: fill 120ms ease-in-out;
    fill: currentColor;
}
.SimpleCheckbox__input {
    display: none;
}
.SimpleCheckbox__labelContainer {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.SimpleCheckbox__input:checked~.SimpleCheckbox__labelContainer>.SimpleCheckbox__checkboxChecked {
    display: block;
}
.SimpleCheckbox__smallCheckbox .SimpleCheckbox__checkboxChecked, .SimpleCheckbox__smallCheckbox .SimpleCheckbox__checkboxUnChecked {
    width: 1.25rem;
    height: 1.25rem;
}
.SimpleCheckbox__checkboxChecked {
    display: none;
}
.SimpleCheckbox__checkboxChecked, .SimpleCheckbox__checkboxUnChecked {
    width: 1.875rem;
    height: 1.875rem;
    display: block;
    flex: 0 0 auto;
    margin-right: .75rem;
    align-self: baseline;
}
.SimpleCheckbox__white .SimpleCheckbox__labelContainer svg, .SimpleCheckbox__white .SimpleCheckbox__labelContainer svg g, .SimpleCheckbox__white .SimpleCheckbox__labelContainer svg path, .SimpleCheckbox__white .SimpleCheckbox__labelContainer svg use {
    stroke: #fff;
    fill: #fff;
}

.SimpleCheckbox__labelContainer svg {
    stroke: #191919;
    fill: #191919;
}
.SimpleCheckbox__descriptionWrapper {
    width: 100%;
}