.vehicle-active{
  background-color: #f5f5f5;
}
.zeeba_bg{
    background-color: #F162A6;
}
.zeeba_text{
    color: #F162A6;
}
.zeeba_booking_form_wrapper a{
    text-decoration: none !important;
}
.coverage_opt_tbl{
    overflow: hidden;
}
.coverage_opt_tbl td,th {
    border: 1px solid #e2e8f0;
    padding: 6px;
}
.convenience_safety_tbl td,th {
    border: 1px solid #e2e8f0;
    padding: 6px;
}
.rate_quote_tbl td,th {
    border: 1px solid #e2e8f0;
    padding: 6px;
}
.rate_quote_tbl td {
    font-size: 1.5rem;
}
.rate_quote_tbl td:nth-child(2) {
    font-weight: bold;
}
.clearfix::after{
    display:block;
    clear:both;
    content:""
}

.select2-selection__rendered {
  line-height: 2.6rem !important;
}
.select2-container .select2-selection--single {
  height: 2.6rem !important;
}
.select2-selection__arrow {
  height: 2.6rem !important;
}

/* Loader css */
.zeeba_loader {
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background-color: #e2e8f0b3;
}

.lds-css.ng-scope {
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .lds-double-ring {
    position: relative;
  }
  .lds-double-ring div {
    box-sizing: border-box;
  }
  .lds-double-ring > div {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #F162A6 transparent #F162A6 transparent;
    -webkit-animation: lds-double-ring 1s linear infinite;
    animation: lds-double-ring 1s linear infinite;
  }
  .lds-double-ring > div:nth-child(2),
  .lds-double-ring > div:nth-child(4) {
    width: 148px;
    height: 148px;
    top: 26px;
    left: 26px;
    -webkit-animation: lds-double-ring_reverse 1s linear infinite;
    animation: lds-double-ring_reverse 1s linear infinite;
  }
  .lds-double-ring > div:nth-child(2) {
    border-color: transparent #ffd0e7 transparent #ffd0e7;
  }
  .lds-double-ring > div:nth-child(3) {
    border-color: transparent;
  }
  .lds-double-ring > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .lds-double-ring > div:nth-child(3) div:before,
  .lds-double-ring > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 72px;
    background: #F162A6;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #F162A6;
  }
  .lds-double-ring > div:nth-child(3) div:after {
    left: -8px;
    top: 72px;
    box-shadow: 160px 0 0 0 #F162A6;
  }
  .lds-double-ring > div:nth-child(4) {
    border-color: transparent;
  }
  .lds-double-ring > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .lds-double-ring > div:nth-child(4) div:before,
  .lds-double-ring > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 62px;
    background: #ffd0e7;
    border-radius: 50%;
    box-shadow: 0 140px 0 0 #ffd0e7;
  }
  .lds-double-ring > div:nth-child(4) div:after {
    left: -8px;
    top: 62px;
    box-shadow: 140px 0 0 0 #ffd0e7;
  }
  .lds-double-ring {
    width: 60px !important;
    height: 60px !important;
    -webkit-transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);
    transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);
  }
  svg.feather {
    fill: none !important;
}

//custom styles
.zeeba_step input[type="text"], .zeeba_step select {
  height: 40px;
    margin: 24px 0px;
    padding: 6px 12px;
    box-sizing: border-box;
}

button.step_1_submit:hover, button.step_1_submit:focus {
    color: #fff;
}
button.step_1_submit{ 
    margin: 1rem 0;
}
.location_popup_wrapper.row {
    position: relative;
    top: -95px !important;
}
button {
    border: unset !important;
}

button#step3-rate-recalculate {
    display: block;
    height: 46px;
}
button#step3-rate-recalculate {
    display: block;
    height: 36px;
    margin: 16px;
}

.util_btn {
    margin-top: 2rem;
    line-height: unset;
}
.util_btn button{
  padding: 4px 6px !important;
    line-height: unset;
    border: none !important;
}

.step_3_section{
    display: flex;
    flex-direction: column;
}
.step-1-container.zeeba_form {
    padding-top: 2rem;
}
.csm_calculate_btn{
  padding: 16px;
}
.modal-dialog{
  top: 5rem
}
.csm_diag input {
    box-sizing: border-box;
    top: 10rem;
}
a#step4_submit {
    color: #fff;
}
select#vehicle {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#vehicle svg {
    margin-left: -23px !important;
}
button.btn.btn-dark.step_1_submit {
    padding: 5px 5px !important;
}
div#return-loc-container {
    margin-left: 5px !important;
}
#return-loc-container label.form-check-label {
    border: 1px solid #aaa;
    padding: 5px !important;
    margin-left: 5px !important;
    color: #888 !important;
}
div#step1-menu > div {
    margin-left: 5px !important;
}
input#dropoff-datetimepicker {
    margin-left: 0 !important;
}


/* start new design css*/
.zeeba-lhg-find-vehicle-form{
    background: #000;
    padding: 30px 0px;
    overflow: hidden;
}

.zeeba-lhg-find-vehicle-form .container{
    width:100% !important;    
}

.zeeba-lhg-find-vehicle-form .row{
    margin-right: -15px !important;
    margin-left: -15px !important;    
}

.zeeba-lhg-find-vehicle-form .col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-top:0px;
    margin-bottom:0px;
}

.zeeba-lhg-find-vehicle-form .form-control{
    padding: 12px !important;
    height: 50px;
    background-color: transparent !important;
    border-color: #fff !important;
}

.zeeba-lhg-find-vehicle-form .zeeba-lhg-find-vehicle-form-heading{
    color: #fd58a7;
}

.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group{
    position: relative;
    margin: 20px 0px;
}
.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group label{
    position: absolute;
    left: 8px;
    top: 8px;
    color: #fff;
    font-size: 16px;
}
.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group .zeeba-lhg-close-button{
    background: transparent;
    position: absolute;
    top: -14px;
    right: -34px;
    outline: none;
    z-index: 3;
    height: 20px;
    min-width: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group select,.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group input{
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    position: relative;
    z-index: 1;
    color: #fff;
}
.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group select option{
    color: #000;
}
.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group select:focus,.zeeba-lhg-find-vehicle-form .zeeba-lhg-single-input-group input:focus{
    border: 1px solid #ced4da;
}

.zeeba-lhg-find-vehicle-form .zeeba-lhg-return-location-checkbox{
    margin-top:26px;
}
.zeeba-lhg-find-vehicle-form .zeeba-lhg-return-location-checkbox label{
    color: #fff;
    font-size:16px;
}
.zeeba-lhg-single-return-location-group{
    display: none;
}


.zeeba-lhg-find-vehicle-form .col-md-12{
    position: relative;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-top:0px;
    margin-bottom:0px;
}
.zeeba-lhg-find-vehicle-form button[type="submit"]{
  color: #fff;
  background-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-color: #28a745 !important;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.zeeba-lhg-label-animated-up{
    font-size:14px !important;
    color:#fd58a7 !important;
    top:-11px !important;
    background: #000 !important;
    z-index: 5 !important;
    padding: 0px 10px !important;
    transition:.4s !important;
}
/*end new design css*/
